
<div class="flex align-items-center justify-content-center">
  <div class="card col-10 flex align-items-center justify-content-center">
  <h1>Finalisez votre CV</h1>
<h2>Relisez, modifier et organisez les sections par ordre d'importance si nécessaire.</h2>
<h3>Téléchargez votre CV et commencez à envoyez vos candidatures !</h3>
<div class="row ">
  <button class="btn-primary col-6 mr-5" (click)="getGeneratedCV()">Generate PDF</button> <button class="btn-primary col-4" (click)="getDownloadCV()">Telecharger en PDF</button>
  <!-- <button pButton type="button" label="Generate PDF" [loading]="loading" (onClick)="load()" (click)="getGeneratedCV()" style="margin-right: 10px;"></button> -->
  <!-- <button pButton type="button" label="Telecharger en PDF" [loading]="loading" loadingIcon="pi pi-bell" (onClick)="load()" (click)="getDownloadCV()"></button> -->
</div>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form class="account-page-left shadow-sm bg-white h-100" [formGroup]="profilForm" (ngSubmit)="onSubmit()">
        <div class="border-bottom p-4">
          <div class="user text-center">
            <div class="user-media">
              <h5>Please provide a photo of yourself</h5>
              <label class="upload-btn" for="image">
                <input type="file" id="image">
                <img src="assets/images/user.avif" alt="" class="upload-icon">
              </label>
              <div class="user-media-body">
                <label >Nom:</label>
                <input type="text" placeholder="Nom" disabled="true" [value]="user.nom">
                <label >Email:</label>
                <input type="email" placeholder="Your email" disabled="true" [value]="user.email">
                <label >Phone:</label>
                <input disabled="true" type="tel"  placeholder="Your number" [value]="user.telephone">
                <p class="mb-1"></p>
                <p class="mb-0 text-black font-weight-bold">
                </p>
                <br>
              </div>
            </div>
          </div>
        </div>
    
        <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
          <li class="nav-item">
            <div class="section section-informations-personnelles" >
              <h2>Personal information</h2>
              
              <label for="pays">Nationality:</label>
              <input type="text" id="pays" name="pays" placeholder=" Your Nationality " formControlName="nationality"[value]="profil?.nationality">
              <label for="date">Date of Birth:</label>
              <input type="date" id="date" name="date" placeholder=" Your date of birth" formControlName="dateOfBirth"[value]="profil?.dateOfBirth"><br>
              <label for="adresse">Address:</label>
              <input type="text" id="adresse" name="adresse" placeholder="Your address" formControlName="address" [value]="profil?.address">
              <label for="dep">Department:</label>
              <input type="text" id="dep" name="dep" placeholder="Your Department" formControlName="department"[value]="profil?.department">
              <label for="gender">Gender:</label>
              <label for="contactChoice2">Male</label>
              <input type="radio" id="contactChoice3" name="gender" value="Male" class="gender-input" formControlName="gender" [checked]="profil?.gender === 'Male'"/>
              <label for="contactChoice3">Female</label>
              <input type="radio" id="contactChoice2" name="gender" value="Female" class="gender-input" formControlName="gender" [checked]="profil?.gender === 'Female'"/>
            </div>
            <button type="submit" class="btn-primary m-3">Save Profile</button> 
          </li>
        </ul>
      </form>
    </div>
    
    <div class="col-md-8">
      <div class="table table-bordered" width="100%" cellspacing="0">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Education</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#educationModal" style="float: right;"  (click)="openAddDialog()">Add</button>
            <br>
            <div class="table-responsive">
              <br>
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Institution:</th>
                    <th>Field of study:</th>
                    <th>Start date:</th>
                    <th>End date:</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let education of educations">
                    <td>{{ education.institut }}</td>
                    <td>{{ education.domaineEtude }}</td>
                    <td>{{ education.dateDebut | date: 'yyyy-MM-dd'}}</td>
                    <td>{{ education.dateFin | date: 'yyyy-MM-dd'}}</td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="deleteEducation(education._id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Experience</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#experienceModal"
              style="float: right;"  (click)="openAddDialogEperience()">Add</button>
            <br>
            <div class="table-responsive">
              <br>
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Campany</th>
                    <th>Job</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <tr *ngFor="let experiences of experience">
                      <td>{{ experiences.entreprise }}</td>
                      <td>{{ experiences.poste }}</td>
                      <td>{{ experiences.dateDebut| date: 'yyyy-MM-dd' }}</td>
                      <td>{{ experiences.dateFin| date: 'yyyy-MM-dd' }}</td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="deleteExperience(experiences._id)">Delete</button>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Project</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal"
              style="float: right;"(click)="openAddDialogProjet()" >Add </button>
            <br>
            <div class="table-responsive">
              <br>
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Title:</th>
                    <th>Description:</th>
                    <th>Date:</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let projet of projet">
                    <td>{{ projet.titre }}</td>
                    <td>{{ projet.description }}</td>
                    <td>{{ projet.date | date: 'yyyy-MM-dd'}}</td>          
                    <td>
                      <button type="button" class="btn btn-danger" (click)="deleteProjet(projet._id)">Delete</button>
                    </td>
              </table>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Certification</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#certificationModal"
              style="float: right;" (click)="openAddDialogCertificat()">Add</button>
            <br>
            <div class="table-responsive">
              <br>
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Domaine:</th>
                    <th>Date:</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let certificat of certificat">
                    <td>{{ certificat.domain}}</td>
                    <td>{{ certificat.date | date: 'yyyy-MM-dd'}}</td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="deleteCertificat(certificat._id)">Delete</button>
                    </td>                   
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Skill</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#skillsModal"
              style="float: right;" (click)="openAddDialogskill()">Add </button>
            <br>
            <div class="table-responsive">
              <br>
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name:</th>
                    <th>level:</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let skill of skill">
                    <td>{{ skill.nom }}</td>
                    <td>{{ skill.niveau }}</td>           
                    <td>
                      <button type="button" class="btn btn-danger" (click)="deleteSkill(skill._id)">Delete</button>
                    </td>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
