<section class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <div class="card shadow">
        <div class="card-body p-6">
          <div class="mb-4">
            <h1 class="mb-1 fw-bold">Réinitialiser le mot de passe</h1>
            <p>Entrez votre nouveau mot de passe.</p>
          </div>
          <form (submit)="resetPassword()" [formGroup]="addForm">
            <div class="mb-3">
              <label class="form-label">Nouveau Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Entrez votre email"
              />
             
            </div>
            <div class="mb-3">
              <label class="form-label">Nouveau mot de passe</label>
              <input
                type="password"
                class="form-control"
                formControlName="newPassword"
                placeholder="Entrez votre nouveau mot de passe"
              />
             
            </div>
            <div class="mb-3">
              <label class="form-label">Confirmer le nouveau mot de passe</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirmNewPassword"
                placeholder="Confirmez votre nouveau mot de passe"
              />
            
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>
</section>
