<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(43, 81, 152);">
  <div class="container-fluid">
    <button (click)="toggleSideBar()"  pButton style="border-radius:  50%; width : 40px; height : 40px;"s icon="pi pi-bars" class="p-3"></button>
    <a class="navbar-brand" style="margin-left: 20px; color:azure">Mon Stage </a>
    <button class="navbar-toggler" style="border-radius:  50px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item">
          <a class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/nos-societes">Nos Société</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/nos-offres">offres de Stage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/nos-stagiaires">Nos Stagiaires</a>
        </li> -->
      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" type="button" (click)="logOut()" style="color:azure"> Se déconnecter <i class="bi bi-box-arrow-right"></i></a>
      </ul>
    </div>
  </div>


</nav>