<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(43, 81, 152);">
  <div class="container-fluid">
    <button (click)="toggleSideBar()"  pButton style="border-radius:  50%; width : 40px; height : 40px;"s icon="pi pi-bars" class="p-3"></button>
    <a class="navbar-brand" style="margin-left: 20px; color:azure">Mon Stage </a>
    <button class="navbar-toggler" style="border-radius:  50px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
      </ul>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" type="button" style="color:azure" (click)="showLogoutModal = true">
           Se déconnecter  <i class="pi pi-sign-out"></i>
        </a>
    </li>
</ul>

<p-dialog header="Prêt à partir ?" [(visible)]="showLogoutModal" [modal]="true" [closable]="false">
    <p>Sélectionnez « Déconnexion » ci-dessous si vous êtes prêt à terminer votre session en cours.</p>
    <p-footer>
        <button pButton type="button" label="Annuler" icon="pi pi-times" (click)="showLogoutModal = false" style="margin-right: 10px;"></button>
        <button pButton type="button" label="Déconnexion" icon="pi pi-check" (click)="logOut()"></button>
    </p-footer>
</p-dialog>



    </div>
  </div>


</nav>