<div class="container">
  <div class="row flex justify-content-center"> 

    <div class="card col-md-10" [ngClass]="{
      'disponible': data?.status == 'disponible',
      'indisponible': data?.status == 'indisponible'
    }">
      <div class="card-body col-12 row align-items-center justify-content-center ">
        <a type="button" href="javascript:history.go(-1)">retour</a>
        <div class=" col-12 row align-content-center justify-content-center">
          <h2 class="card-title col-4 text-center">{{ data?.titre }}</h2>
        </div>
        <div class=" row flex justify-content-between">
          <p class=" col-10">Publier par: {{ data?.societe?.nom }}</p>
          <p class=" col"><small class="text-muted">à {{data?.lieu}} , Le {{data?.date |date }}</small></p>
        </div>
        <div class=" row flex  justify-content-between">
          <p class="col-10">Domaine: {{data.domaine}}</p>
          <p class="col">Technologies: {{data.technologies}}</p>
        </div>
        <p class="card card-text description">{{ data?.description }}</p>
        <div class=" row flex col-12 align-items-start justify-content-between">
          
          <small class="card card-text col-3 text-muted">
            Nombre demmandé: {{ data?.number_candidats }}
          </small>
          <small class=" card dd col-2 text-muted"> Durée : {{ data?.duree }} mois</small>
          <small class="card card-text col-3  text-muted">
              Date d'expiration: {{ data?.date_dexpiration | date }}
          </small>
        </div>
        <button type="button" class="btn btn-primary col-3" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop" [disabled]="data?.status=='indisponible'">Postuler</button>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Postuler cette offre de stage</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="addForm" method="post">
                  <div class="mb-3">
                    <label class="form-label">Nom Complete</label>
                    <input type="text" class="form-control" placeholder="nom" formControlName="nom">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Votre email</label>
                    <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
                  </div>
                  <div class="mb-3">
                    <label for="formFile" class="form-label col-4">Télécharger votre CV </label>
                     <p-button icon="pi pi-info-circle" [rounded]="true" severity="info" [outlined]="true" class="justify-content-end ms-2" data-bs-toggle="modal" data-bs-target="#infoModal"></p-button>
                    
                    <input class="form-control" type="file" id="formFile" formControlName="cv">
                    
                     <div *ngIf="addForm.get('cv')?.invalid && (addForm.get('cv')?.touched || addForm.get('cv')?.dirty)" class="text-danger">
                    <div *ngIf="addForm.get('cv')?.errors?.['required']">
                      Veuillez télécharger votre CV.
                    </div>
                  </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Lettre de Motivation</label>
                    <textarea class="form-control" rows="3" formControlName="lettre_motivation"></textarea>
                    <div *ngIf="addForm.get('lettre_motivation')?.invalid && (addForm.get('lettre_motivation')?.touched || addForm.get('lettre_motivation')?.dirty)" class="text-danger">
                    <div *ngIf="addForm.get('lettre_motivation')?.errors?.['required']">
                          Veuillez saisir une lettre de motivation.
                          </div>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="date_debut" class="form-label">Date début</label>
                      <div class="input-group date">
                        <input id="startDate" class="form-control" type="date" formControlName="date_debut" />
                      </div>
                      <div *ngIf="addForm.get('date_debut')?.touched || addForm.get('date_debut')?.dirty" class="text-danger">
                        <div *ngIf="addForm.get('date_debut')?.errors?.['required']">
                          La date de début est obligatoire.
                        </div>
                        <div *ngIf="addForm.get('date_debut')?.errors?.['futureDateInvalid']">
                          La date de début doit être aujourd'hui ou plus tard.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="date_fin" class="form-label">Date fin</label>
                      <div class="input-group date">
                        <input class="form-control" type="date" formControlName="date_fin" />
                      </div>
                      <div *ngIf="addForm.get('date_fin')?.touched || addForm.get('date_fin')?.dirty" class="text-danger">
                        <div *ngIf="addForm.get('date_fin')?.errors?.['required']">
                          La date de fin est obligatoire.
                        </div>
                      </div>
                      <div *ngIf="addForm.errors?.['dateRangeInvalid'] && (addForm.get('date_debut')?.touched || addForm.get('date_debut')?.dirty)" class="text-danger">
                        La date de fin doit être après la date de début.
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" (click)="postulerOffre()"
                  formmethod="post">Postuler</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal pour l'information -->
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Si vous n'avez pas de CV, souhaitez-vous naviguer vers l'interface de création de CV ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
          <button type="button" class="btn btn-primary" (click)="navigateToCvCreation()">Oui</button>
        </div>
      </div>
    </div>
  </div>
</div>