<body class=" m-0 border-0 bd-example m-0 border-0   
content col-12 col-md-4 col-sm-10 m-5  ml-6 p-5" style="
">
<div class="row">
<div class="col-4 card " style="margin-left: 3%; margin-top:20px">
    <form class="row g-3" [formGroup] = "profileForm" method="post">
   <div class="row"> 
    <div class="col-md-4">
      <label class="form-label">nom</label>
      <input type="text" class="form-control" placeholder="nom" [value]="user.nom" disabled>
    </div>
    <div class="col-md-4">
        <label class="form-label">N° matricule fiscale</label>
        <input type="text"  class="form-control" formControlName="matricule_fiscale" />
      </div>
    <div class="col-md-4">
        <label class="form-label">Domaine</label>
        <input type="text" class="form-control" formControlName="domaine" />
      </div> 
    <div class="col-md-4">
      <label class="form-label">email Professional</label>
      <input type="text" class="form-control" [value]="user.email" disabled>
    </div>
    <div class="col-md-4">
        <label class="form-label">Telephone </label>
        <input type="Number" class="form-control" [value]="user.telephone" disabled/>
    </div>  
    <div class="col-md-4">
        <label class="form-label">fax </label>
        <input type="text" class="form-control" formControlName="fax" />
    </div>
    <div class="col-md-4">
        <label class="form-label">Addresse</label>
        <input type="text" class="form-control" placeholder="1234 Main St" formControlName="adresse">
    </div>
    <div class="col-md-4">
        <label  class="form-label">ville</label>
        <select  class="form-select" formControlName="ville" >
          <option selected>Choose...</option>
          <option value="Ariana">Ariana</option>
          <option value="Beja">Beja</option>
          <option value="ben arous">Ben Arous</option>
          <option value="bizete">Bizerte</option>
          <option value="Gabes">Gabès</option>
          <option value="Gafsa">Gafsa</option>
          <option value="Jendouba">Jendouba</option>
          <option value="Kairouan">Kairouan</option>
          <option value="Kasserine">Kasserine</option>
          <option value="Kebili">Kebili</option>
          <option value="Kef">Kef</option>
          <option value="Mahdia">Mahdia</option>
          <option value="Manouba">Manouba</option>
          <option value="Medenine">Médenine</option>
          <option value="Monastir">Monastir</option>
          <option value="Nabeul">Nabeul</option>
          <option value="Sfax">Sfax</option>
          <option value="Sidi bouzid">Sidi Bouzid</option>
          <option value="Siliana">Siliana</option>
          <option value="Sousse">Sousse</option>
          <option value="Tataouine">Tataouine</option>
          <option value="Tozeur">Tozeur</option>
          <option value="Tunisie">Tunisie</option>
          <option value="Zagyhouan">Zaghouan</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">code postal</label>
        <input type="text" class="form-control" formControlName="code_postal" />
      </div>     
      <div class="col-md-8">
        <label>site web</label>
        <input type="url" class="form-control" formControlName="site_web"/> 
      </div>
      <div>
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
      </div>      
    </div> 
    <div class="b">
        <button type="submit" class="btn " (click)="updateProfil()" formmethod="post"><i class="bi bi-check2-all"></i>Enregistrer</button>
    </div>



    <div class="b">
        <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="bi bi-key"></i> modifier le mot de passe</button>
        

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="mod">modifier votre mot  de passe <i class="bi bi-file-earmark-lock2"></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="addFormP" method="post">
                  <div class="mb-3">
                      <label class="form-label">ancien mot de passe :</label>
                      <input type="password" class="form-control" placeholder="****" formControlName="ancienMotDePasse" >
                    </div>
                    <div class="mb-3">
                      <label class="form-label">nouveau mot de passe :</label>
                      <input type="password" class="form-control" placeholder="****" formControlName="nouveauMotDePasse" >
                    </div>
                    <div class="mb-3">
                      <label class="form-label">repeter mot de passe :</label>
                      <input type="password" class="form-control" placeholder="****" formControlName="repMotDePasse" >
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn bb" data-bs-dismiss="modal">Retour</button>
                <button type="submit" class="btn bb" (click)="modifierPassword()" formmethod="post">modifier</button>
              </div>
            </div>
          </div>
        </div>   
      </div>  
  </form>
</div>
<div class="col-4 col-md-4 col-sm5" style="margin-left:8%;margin-top :20px;">
  <img class="img-fluid   rounded" style="width:100%;" src="https://cdn-icons-png.flaticon.com/512/1842/1842127.png">
</div>
</div>

</body>