<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class="card card-style1 border-0">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar7.png"
                  alt="..."
                />
              </div>
              <div class="col-lg-6 px-xl-10">
                <div *ngIf="profil" class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded" >
                  <h3 class="h2 text-white mb-0">{{ profil.user.nom }}</h3>
                  <span class="text-primary">{{ profil.department }}</span>
                </div>
                <ul  *ngIf="profil" class="list-unstyled mb-1-9">
                  <li class="mb-2 mb-xl-3 display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600">Adresse:</span>
                    {{ profil.address }}
                  </li>
                  <li class="mb-2 mb-xl-3 display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600">Sexe:</span>
                    {{ profil.gender }}
                  </li>
                  <li class="mb-2 mb-xl-3 display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600">Date de naissance:</span>
                    {{ profil.dateOfBirth | date }}
                  </li>
                  <li class="mb-2 mb-xl-3 display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600">Nationality:</span>
                    {{ profil.nationality}}
                  </li>
                  <li class="mb-2 mb-xl-3 display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600">Email:</span>
                    {{ profil.user.email}}
                  </li>
                  <li class="display-28">
                    <span class="display-26 text-secondary me-2 font-weight-600">Téléphone:</span>
                    {{ profil.user.telephone}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="flex row justify-content-between">
              <button
                pButton
                pRipple
                type="button"
                label="Upload Votre CV"
                class="p-button-outlined p-button-info col-3"
                (click)="getDownloadCV()"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                label="Generate Resume"
                class="p-button-outlined p-button-info col-3"
                (click)="getGeneratedCV()"
              ></button>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<div class="card col-12 flex align-items-center justify-content-center">
  <div class="text-container">
    <span class="text-900 text-xl font-bold mb-4 block">Modifier de votre profile</span>
</div>

  <div class="grid">
    <div class="col-12 lg:col-10">
      <form class="account-page-left shadow-sm bg-white h-100" [formGroup]="profilForm" (ngSubmit)="updateProfil()"
      >
        <div class="grid formgrid p-fluid" *ngIf="profil">
          <div class="field mb-4 col-12 md:col-4">
            <label for="nom" class="font-medium text-900">Nom </label>
            <input
              id="nom"
              type="text"
              pInputText
              [value]="profil.user.nom"
              formControlName="fullName"
            />
          </div>
      
          <div class="field mb-4 col-12 md:col-4">
            <label class="font-medium text-900">Prenom</label>
            <input type="text" pInputText  [value]="profil.user.nom" formControlName="fullName"/>
          </div>
          <div class="field mb-4 col-12 md:col-4">
            <label class="font-medium text-900">nationality </label>
            <input type="text" pInputText  [value]="profil.nationality" formControlName="nationality"/>
          </div>
          <div class="field mb-4 col-12 md:col-6">
            <label for="email" class="font-medium text-900">Email</label>
            <input
              id="email"
              type="text"
              pInputText
              [value]="profil.user.email"
              formControlName="email"
            />
          </div>

          <div class="field mb-4 col-12 md:col-6">
            <label for="city" class="font-medium text-900">Telephone</label>
            <input
              id="city"
              type="text"
              pInputText
              [value]="profil.user.telephone"
              formControlName="telephone"
            />
          </div>

          <div class="field mb-4 col-12 md:col-6">
            <label for="city" class="font-medium text-900"
              >Date naissance</label
            >
            <input
              id="city"
              type="date"
              pInputText
              [value]="profil.dateOfBirth | date"
              formControlName="dateOfBirth"
            />
          </div>
          <div class="field mb-4 col-12 md:col-6">
            <label class="font-medium text-900">sexe</label>
            <select class="form-select" formControlName="gender">
              <option selected>sexe</option>
              <option value="homme" [selected]="profil.gender === 'Male'"  [value]="profil.gender">homme</option>
              <option value="femme"  [selected]="profil.gender === 'Female'" [value]="profil.gender">femme</option>
            </select>
          </div>
          <div class="field mb-4 col-12 md:col-4">
            <label for="city" class="font-medium text-900">Adresse</label>
            <input id="city" type="text" pInputText formControlName="address"  [value]="profil.address"/>
          </div>

          <div class="field mb-4 col-12 md:col-6">
            <label for="state" class="font-medium text-900"
              >etablissement</label
            >
            <input
              id="state"
              type="text"
              pInputText
              [value]="profil.department"
              formControlName="department"
            />
          </div>
          <!-- <div class="card flex justify-content-center field mb-4 col-12 md:col-6">
             <label for="state" class="font-medium text-900">cv</label>
            <input id="state" type="file" pInputText  /> -->
            <!-- <p-toast></p-toast> -->
    <!-- <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload> 
          </div> -->

          <div class="col-12 text-center">
            <button
              pButton
              pRipple
              label="Update profile"
              class="w-auto mt-3"
           
            ></button>
          </div>
        </div>
      </form>
    </div>
    <div>            
  </div>
</div>
<div class="b">
        <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="bi bi-key"></i> modifier le mot de passe</button>
        

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="mod">modifier votre mot  de passe <i class="bi bi-file-earmark-lock2"></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="addFormP" method="post">
                  <div class="mb-3">
                      <label class="form-label">ancien mot de passe :</label>
                      <input type="password" class="form-control" placeholder="ancien mot de passe" formControlName="ancienMotDePasse" >
                    </div>
                    <div class="mb-3">
                      <label class="form-label">nouveau mot de passe :</label>
                      <input type="password" class="form-control" placeholder="nouveau mot de passe" formControlName="nouveauMotDePasse" >
                    </div>
                    <div class="mb-3">
                      <label class="form-label">repeter mot de passe :</label>
                      <input type="password" class="form-control" placeholder="confirm mot de passe" formControlName="repMotDePasse" >
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn bb" (click)="modifierPassword()" formmethod="post">modifier</button>
                <button type="button" class="btn bb" data-bs-dismiss="modal">Retour</button>
              </div>
            </div>
          </div>
        </div>   
      </div> 