<div class="container-fluid">
  <p-toast></p-toast>
  <div class="card shadow mb-4">
    <div class="card-header">
      <h2 class="text-primary flex align-items-center justify-content-center">
        Parcours de stage
      </h2>
    </div>
    <div class="card">
      <p-timeline
        [value]="events"
        align="alternate"
        styleClass="customized-timeline"
      >
        <ng-template pTemplate="marker" let-event>
          <span
            class="custom-marker shadow-2"
            [style.backgroundColor]="event.color"
          >
            <i [ngClass]="event.icon"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card [header]="event.status">
            <p>{{ event.descrip }}</p>
            <p *ngIf="event.isUploadRapport">
              <input
                type="file"
                placeholder="Rapport de stage"
                (change)="event.uploadCommand($event)"
              />
            </p>
            <button
              pButton
              class="p-button-text"
              (click)="event.command()"
              *ngIf="!event.isUploadRapport"
            >
              {{ event.button }}
            </button>
            <button
              pButton
              class="p-button-text"
              (click)="event.command()"
              [disabled]="rapport != null"
              *ngIf="event.isUploadRapport"
            >
              Ajouter rapport
            </button>
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
  </div>
</div>
