
	<section class="container d-flex flex-column">
		<div class="row align-items-center justify-content-center g-0 min-vh-100">
			<div class="col-lg-5 col-md-8 py-8 py-xl-0">
				<!-- Card -->
				<div class="card shadow">
					<!-- Card body -->
					<div class="card-body p-6">
						<div class="mb-4">
							<h1 class="mb-1 fw-bold">mot de passe oublié </h1>
							<p>Entrez votre adresse e-mail et nous vous enverrons un e-mail avec des instructions pour réinitialiser votre mot de passe.</p>
						</div>
							<!-- Form -->
						<form  #resetForm="ngForm" (ngSubmit)="forgotPassword()">
								<!-- Email -->
							<div class="mb-3">
								<label  class="form-label">Votre email</label>
								<input type="email" class="form-control" name="email" placeholder="Entrez votre email"[(ngModel)]="email" required />
							</div>
								<!-- Button -->
							<div class="mb-3 d-grid">
								<button type="submit" class="btn btn-primary">
									Envoyer le lien de réinitialisation
								</button>
							</div>
						
							<span>Retour à <a href="/auth">se connecter</a></span>
						</form>
						<div *ngIf="message">{{ message}}</div>
					</div>
				</div>
			</div>
		</div>
	</section>

