<div class="container">
  <div class="row my-4">
    <div class="col-12 text-center">
      <h1 class="title">
        Bienvenue {{ currentuser?.nom }} !<br /><span class="dégradé">dans notre plateforme</span>
      </h1>
      <p class="paragraphetitre">Trouvez une offre de stage sur-mesure</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body text-center">
      <h2>Parcourir liste des offres de stage</h2>
      <p-toast></p-toast>
      <div class="row">
        <div class="form-group has-search container col-md-6 mt-1">
					<input type="text" class="form-control fa fa-search " placeholder="Search" [(ngModel)]="searchTerm" (input)="getAll(searchTerm)">
				</div>
      </div>
      <div class="row">
        <div class="col-10 offset-1">
          <div class="row">
            <div class="col-md-6" *ngFor="let item of pagedOffres">
              <div class="card">
                <div class="card-body contener">
                  <h2 class="card-title">{{ item?.titre }}</h2>
                  <div class="row flex justify-content-between">
                   <p class="user-fix col">
                    <small class="text-muted">Par {{ item.societe.nom }}</small>
                  </p>
                  <p class="date-fix col">
                    <small class="text-muted"><i class="bi bi-geo-alt-fill"></i> {{ item.lieu }} , Le {{ item.date | date: 'dd-MM-yyyy' }}</small>
                  </p> 
                  </div>
                  
                  <div class="row flex justify-content-between">
                    <p class="col">Domaine: {{item.domaine}}</p>
                    <p class="col">Technologies: {{item.technologies}}</p>
                  </div>
                  <p class="card-text">{{ item.description }}</p>
                </div>
                <div class="champ">
                  <div>
                    <!-- <p-badge [value]="item.number_candidats" severity="success"></p-badge>
                    <span style="margin-left: 10px">Poste(s) demmandé</span> -->
                    <p class="card-text">Status: {{item.status}}</p>
                  </div>
                  <p-button (click)="getOffreById(item._id)"><i class="bi bi-eye"></i> Voir plus</p-button>
                </div>
              </div>
            </div>
          </div>
          <p-paginator [rows]="4" [totalRecords]="offres.length" [first]="first" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>


  <div class="card mt-4">
    <div class="card-body text-center">
      <h2>Parcourir la liste des feedbacks</h2>
      <p-toast></p-toast>
      <app-liste-feedbacks></app-liste-feedbacks>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-primary mt-4"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    Feedback
  </button>

  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Merci pour votre avis
          </h1>
          <p-button
            icon="pi pi-times"
            data-bs-dismiss="modal"
            [rounded]="true" [text]="true"
          ></p-button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" method="post">
            <div class="mb-3">
              <i class="bi bi-chat-square-dots-fill"></i>
            </div>
            <p>
              Si vous rencontrez un problème ou avez des suggestions à nous
              faire, n'hésitez pas à nous contacter, nous vous répondrons dans
              les plus brefs délais !
            </p>
            <div class="mb-3">
              <label class="form-label">Nom</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nom"
                formControlName="nom"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Commentaire</label>
              <textarea
                class="form-control"
                rows="3"
                placeholder="Composer un commentaire"
                formControlName="commentaire"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <p-button
            type="button"
            [raised]="true" severity="secondary"
            data-bs-dismiss="modal"
          >
            Close
          </p-button>
          <p-button
            type="submit"
            
            (click)="envoyerFeedback()"
          >
            Envoyer
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
