
<div class="flex align-items-center mb-4 font-bold">
    <span class="text-xl text-900 mr-4">Comments</span>
    <span class="inline-flex align-items-center justify-content-center w-2rem h-2rem border-1 surface-border border-round">
        {{data.length}}
    </span>
</div>

<ul class="list-none p-0 m-0">
    <li *ngFor="let comment of data" class="flex p-3 mb-3 border-1 surface-border border-round align-items-start">
        <div class="flex-grow-1">
            <div class="flex align-items-center justify-content-between mb-1">
                <span class="font-semibold text-900">{{comment?.nom}}</span>
                <span class="text-700 text-sm">{{comment?.date | date: 'dd/MM/yyyy'}}</span>
                
            </div>
            <div class="flex align-items-center justify-content-between mb-1">
             <span class="text-700 block mb-2">{{comment?.email}}</span>   
             <button pButton label="Delete" class="p-button-danger p-button-text" (click)="deleteItem(comment._id)">
                <i class="pi pi-trash"></i>
            </button>
            </div>
            
            <p class="line-height-3 mb-0">{{comment?.commentaire}}</p>
            
        </div>
    </li>
</ul>
