<div class="grid">
    <p-toast></p-toast>
	<div class="col-12">
		<div class="card">
      <h3 class="flex justify-content-center">Mes Candidatures</h3>
      <p-table [value]="data" [tableStyle]="{'min-width': '50rem'}">

        <ng-template pTemplate="header">
            <tr>
                <th>nom de societe </th>
                <th>titre d'offre</th>
                <th>datePostulation</th>
                <th>status du candidature</th>

                <th> action </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr [ngClass]="{
                'bg-green-500':item.status == 'accepter',
                'bg-yellow-500':item.status == 'en_attente',
                'bg-red-500':item.status == 'refuser',
            }">
                <td>{{item?.offreStage?.societe?.nom}}</td>
                <td>{{item?.offreStage?.titre}}</td>
                <td>{{item?.datePostulation|date: 'dd/mm/yyyy'}}</td>
                <td >
                    {{item?.status}}
                </td>
                <td>
                    <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="supprimer(item?._id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{data? data.length : 0 }} postulations.
            </div>
        </ng-template>
    </p-table>
    </div>
  </div>
</div>