<!-- Page Wrapper -->

<body style="background-color: rgb(221, 224, 232);
padding:0%">
  

<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Content Row -->
        <div class="row" style="margin-top: 35px ; margin-bottom:20px; margin-right:2%; margin-left:2% ">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style=" background-color: transparent;">
            <div class="card border-left-primary shadow  py-2 " style="height: 15vh; background-color:transparent">
              <div class="card-body  ">
                <div class="row no-gutters align-items-center " style=" background-color: transparent;">
                  <div class="col mr-2 ">
                    <div
                      class="text-xs font-weight-bold text-primary  text-uppercase mb-1"
                      style=" background-color: transparent;"
                      >
                      number of supervisors
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">20</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style=" background-color: transparent;">
            <div class="card border-left-success shadow h-100 py-2" style=" background-color: transparent;">
              <div class="card-body" style=" background-color: transparent;">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-success text-uppercase mb-1"
                    >
                      number of trainees
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">21</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style=" background-color: transparent;">
            <div class="card border-left-info shadow h-100 py-2" style=" background-color: transparent;">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-info text-uppercase mb-1"
                    >
                      number of subjects done
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div
                          class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                        >
                          5
                        </div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 50%"
                            aria-valuenow="50"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-tasks fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" style=" background-color: transparent;">
            <div class="card border-left-warning shadow h-100 py-2" style=" background-color: transparent;">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                    >
                      number of current subjects
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-list-ul fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->

        <div class="row">
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-5 " style="margin-top:0%;margin-right:10px;margin-left:10%; 
          border:none;
          padding:13px 20px;
          border-radius:25px;
          background:rgba(255,255,255,.1);
          background-color: transparent;
          height:100vh;
          width: 50vw">
            <div class="card shadow   mb-4" style="background:rgba(246, 244, 244, 0.1);
            background-color:aliceblue;
            box-shadow:dimgray 10px;"
            >
              <!-- Card Header - Dropdown -->
              <div
                class="card-header py-3  d-flex flex-row align-items-center justify-content-between"
                style="margin-top: 50px;"
              >
                <h6 class="m-0 font-weight-bold " style="font-size: x-large; color:rgb(125, 139, 189)">
                  Top Active Users: Leading the Charge
                </h6>
              </div>
              <!-- Card Body -->
              <div class="card-body " style="font-size: medium; color:rgb(144, 190, 239)">
                <h4 class="small font-weight-bold">
                  Administrators <span class="float-right">20%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar bg-danger"
                    role="progressbar"
                    style="width: 20%"
                    aria-valuenow="20"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <h4 class="small font-weight-bold">
                  Assistants<span class="float-right">40%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 40%"
                    aria-valuenow="40"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <h4 class="small font-weight-bold">
                  Supervisors <span class="float-right">60%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 60%"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <h4 class="small font-weight-bold">
                  Interns<span class="float-right">80%</span>
                </h4>
                <div class="progress mb-4">
                  <div
                    class="progress-bar bg-info"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-xl-4 col-lg-4" >
            <div class="card shadow  mb-4" 
            style="margin-top:10%; 
          border:none;
        
          border-radius:25px;
          background:rgba(255,255,255,.1) ;
          background-image:url('https://fr.freepik.com/photos-gratuite/grunge-wall-texture_1035469.htm#fromView=search&page=1&position=31&uuid=062a7485-33f3-4d1d-8b25-1fb0f8fdc20b');
          background-color:aliceblue;
          height: 50vh
          ">
              <!-- Card Header - Dropdown -->
              <div
                class="card-header d-flex flex-row align-items-center  justify-content-between"
                style="background-color:aliceblue; margin-left:0"
              >
                <h6 class="m-0 font-weight-bold  " style="font-size: xx-large; color:rgb(125, 139, 189);background-color:aliceblue" >
                  specialties requested
                </h6>
                <div class="dropdown no-arrow"></div>
              </div>
              <!-- Card Body -->
              <div class="card-body" style="font-size: medium; color:rgb(71, 68, 64)">
                <div class="chart-pie pt-4 pb-2">
                  <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                  <span class="mr-2">
                    <i class="fas fa-circle text-primary"></i> network
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-success"></i> Development
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-info"></i> security
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Pie Chart -->
         
        </div>

       
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>